<div class="container">
    <%= render :partial => "store_list", locals: {stores: @active_stores, state: 'active'} %>
    <%= render :partial => "store_list", locals: {stores: @inactive_stores, state: 'inactive'} %>
    <br>
    <% if current_user && current_user.admin_role? %>
        <%= link_to "Add a New Store", new_store_path, class: 'waves-effect waves-light btn' %>
        <%= link_to "Calculate Payrolls", store_form_path, class: 'waves-effect waves-light btn' %>
    <% elsif current_user && current_user.manager_role? %>
        <%= link_to "Calculate Payroll for Store", store_form_path, class: 'waves-effect waves-light btn' %>
    <% end %>
</div>