<div class="row">
  <div class="col s9">
    <div class="card">    
      <div class="card-content">
        <h3>Payroll for <%= "#{@emp_pay.employee_name} (SSN: #{@employee.ssn})" %></h3>
        <h4>from <%= @employee_payroll.start_date %> to <%= @employee_payroll.end_date%> </h4>

        <table class="striped highlight">
          <thead>
              <tr>
                <th>Current Paygrade</th>
                <th>Current Rate</th>
                <th>Number of Hours Worked</th>
                <th>Money Earned in Dollars</th>
            </tr>
          </thead>
            <tr>
                <td><%= @emp_pay.pay_grade%></td>
                <td><%= @emp_pay.pay_rate%></td>
                <td><%= @emp_pay.hours%></td>
                <td><%= "$#{@emp_pay.pay_earned.round(2)}"%></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>