<h1><%= state.capitalize %> Shifts at Cafe23 </h1>
<% if shifts.nil? %>
  <p>There are no <%= state.downcase %> shifts in the system at this time.</p>
<% else %>
  <table class="striped highlight">
    <thead>
      <th>Employee</th>
      <th>Store</th>
      <th>Shift Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Status</th>
      <% tmp = shifts.last %>
      <% if current_user && current_user.employee_role? && tmp.date == Date.current && tmp.status == "pending"%>
        <th>Start?</th>
      <% end %>
      <% if current_user && current_user.employee_role? && tmp.date == Date.current && tmp.status == "started"%>
        <th>Finish?</th>
      <% end %>
    </thead>
    <% for shift in shifts %>
      <tr>
        <td><%= link_to "#{shift.assignment.employee.name}", shift_path(shift) %></td>
        <% if current_user && current_user.employee_role? %>
          <td><%= shift.store.name %></td>
        <% else %>
          <td><%= link_to "#{shift.store.name}", store_path(shift.store) %></td>
        <% end %>
        <td><%= shift.date.strftime("%B %d, %Y") %></td>
        <td><%= shift.start_time.strftime("%l:%M %p") %></td>
        <% if shift.end_time.nil? %>
          <td></td>
        <% else %>
          <td><%= shift.end_time.strftime("%l:%M %p") %></td>
        <% end %>
        <td><%= shift.status %></td>
        <% if current_user && current_user.employee_role? && shift.status == "pending" && shift.date == Date.current %>
          <td><%= link_to "Start Shift!", time_in_path, :method=> :patch, class: "waves-effect waves-light btn" %></td>
        <% end %>
        <% if current_user && current_user.employee_role? && shift.status == "started" && shift.date == Date.current %>
          <td><%= link_to "Finish Shift!", time_out_path, :method=> :patch, class: "waves-effect waves-light btn" %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
